body{
    font-family:Arial,sans-serif;
    text-align:center;
}
.slider{
    width:600px;
    height:600px;
    margin:auto;
    position:relative;
    overflow:hidden;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
}
.slides{
    display:flex;
    transition:transform 0.5s ease-in-out;
}
.slides img{
    width:100%;
    height:100%;
   object-fit:cover;
}
button{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:black;
    opacity:0.6;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
    font-size:18px;
}
#prev{
    left:5px;
}
#next{
    right:5px;
}